/*
.field_with_errors
*/
#error_explanation  {
    font-family: Arial, sans-serif;
    /* background-color: #FFC0CB;  /* Pink */
    /* color: #FF0000; */
    background-color: #FF0000;  /* Pink */
    color: #FFFFFF;
    /*text-align: center; */
}

/*div {
    border:2px solid red;
}*/
